<div class="main_container">
<h1>List</h1>
<br>
    <div class="list-image">
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
<br>
<div class="d-flex flex-row flex-container"  >



<% @bookmarks.each do |bookmark| %>


    <div class="card col-3" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">
    <%= bookmark.comment %>
    <br>
    <%= bookmark.movie.title %>

    <br>
    <%= link_to "delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete } %>
  </p>
      </div>
  </div>

<% end %>
</div>
 <br>
 <%= link_to "New bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>

<br>
  <%= link_to "Back to main", root_path() %>



</div>
